@using Products_and_Catagories.Models
@model Catagories

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><a href="">Products</a> | <a href="">Catagories</a></h1>
    <h2>New Catagory</h2>
    <form asp-action="" asp-controller="Home" method="POST">
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input type="text" asp-for="Name" class="form-control">
            <span asp-validation-for="Name"></span>
        </div>
    </form>
</body>
</html>